$gold1:#F4BD76;
$gold2:#F6CD8F;
$gray1: #ffffff80;
$gray2: #f7d9d990;
$gray3: #30553b;
$black1: #1a1b1f;
$black2: #30353b;
$shadow: 0 8px 8px;
$black3:#00000033;
$withe:#fff;
$white1: #fafafa;
$ligth1: #F7CE90;
$ligth2:#F4BD76;
$brown:#422702;
$yellow: yellow;